/* slide top */
@-webkit-keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-100px);
              transform: translateY(-100px);
    }
  }
  @keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-100px);
              transform: translateY(-100px);
    }
  }
  /* slide top */
/* slide right */
@-webkit-keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(100px);
              transform: translateX(100px);
    }
  }
  @keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(100px);
              transform: translateX(100px);
    }
  }
/* slide right */  
/* slide bottom */
@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}
/* slide bottom */



body{
    margin: 0 auto;
}

header img{
    width: 135px;
}

header {
    display: flex;
    background-color: rgba(65,69,74,255);
    align-items: center;
    
}

section.middle li.big-titles {
  content: url(https://google.com);
}
section.top-page {
    background: url('image/background2.jpg');
    background-size: cover;
    background-position-y: 0px;
    height: 100vh;
}
/* menu de navigation */

nav.nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 200px;
    margin-left: 30px;
}

nav.nav li {
    color: white;
}

li.tool{
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 200px;
  margin-left: 50px;
  color: white;
}

li.prog{
  font-size: large;
  margin-left: 50px;
  color: white;
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
	        animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
}

.big-title {
background-color: rgba(65,69,74,255);
  color: white;
    -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
	        animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
        }


.white {
    display: flex;
    color: whitesmoke;
    -webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-top {
	-webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.arrondi {

  height: 200px;
  border-radius: 2%;
    background-color: rgba(65,69,74,255);
      color: white;
        -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
              animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
          }

          
.align-center {
  text-align: center;
}
