/* slide bottom */
@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}
/* slide bottom */


/* top - page */
body{
    margin: 0 auto;
}

header img{
    width: 135px;
}

header {
    display: flex;
    background-color: rgba(65,69,74,255);
    align-items: center;
    
}
section.top-page {
    background: url('../image/background2.jpg');
    background-size: cover;
    background-position-y: 0px;
    height: 100vh;
}
/* top - page */
/* menu de navigation */

nav.nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 200px;
    margin-left: 30px;
}

nav.nav li {
    color: white;
}

.big-title {
  text-align: center;
background-color: rgba(65,69,74,255);
  color: white;
    -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
	        animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
        }

.arrondi {

  height: 200px ;
  border-radius: 2%;
    background-color: rgba(65,69,74,255);
      color: white;
        -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
              animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
          }
         
.align-center {
  text-align: center;
}
